* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.table-box {
    position: relative;
    padding: 30px;
}
table{
    margin: 5% auto;
    text-align: center;
    border-collapse: collapse;
    width: 50rem;
    background-color: #c3c3c3;
    border-radius: 5px;
    box-shadow:8 5 5 rgba(0, 0, 0,0.15);
}
thead,th {
    color: rgb(255, 255, 255);
    padding: 30px;
    font-size:20px;
    font-family: sans-serif;
    padding:15px;
    background-color: #39b0b0;
  }

tbody ,td {
background-color: #8ddede;
padding: 30px  ;
font-size:15px ;

}

